<ion-content [fullscreen]="true">

  <ion-grid class="grilla">

    <ion-row class="filas">

      <ion-button color="chatrooma" expand="full" class="botonesPrincipales btnCosasLindas"
        (click)="openChat()">
        <div>
          <ion-icon src="assets/svg/classrooma.svg" class="icono" slot="start"></ion-icon><br>
          <!-- <ion-label color="chatroomb" class="labelBotonCosasLindas">PPS-4A</ion-label> -->
        </div>
      </ion-button>

    </ion-row>

    <ion-row class="filas">

      <ion-button color="chatroomb" expand="full" class="botonesPrincipales btnCosasLindas"
      (click)="openChat()">
      <div>
        <ion-icon src="assets/svg/classroomb.svg" class="icono" slot="start"></ion-icon><br>
        <!-- <ion-label color="chatroomb" class="labelBotonCosasLindas">PPS-4A</ion-label> -->
      </div>
    </ion-button>


    </ion-row>

  </ion-grid>

</ion-content>