#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.botonesPrincipales {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.filas {
  height: 50%;
}

.grilla
{
  height: 100%;
  margin: 0;
  padding: 0;
}

.icono {
  font-size: 2000%;


}

.labelBotonCosasLindas {
  // color: #fff;
  font: normal 35px 'inconsolata',serif;
  //font-family: 'Pacifico';
  text-shadow: 3px 3px 0 #000;
  margin: 0.5em 0 0;  
  margin-bottom: 10em;

}

@keyframes cambia-color{
  0%{
      background-position: 0%, 50%;
  }
  
  50%{
      background-position: 100%, 50%;
  }
  
  100%{
      background-position: 0%, 100%;
  }
}


.labelBotonCosasFeas{
  font: normal 35px 'inconsolata',serif;
  text-shadow: 3px 3px 0 #000;
  margin: 0.5em 0 0;
}


@font-face {
  font-family: 'inconsolata';
  src: url('../../../assets/fonts/Chunkster Jamz.ttf');//mine
}

// @font-face {
//   font-family: 'Billabong';
//   src: url('../../../assets/fonts/Billabong.ttf');//mine
// }






