<ion-content [fullscreen]="true">

  <ion-grid class="grilla">

    <ion-row class="filas">

      <ion-button color="chatrooma" expand="full" class="botonesPrincipales btnCosasLindas"
        (click)="openChat(this.chatRoomA)">
        <div>
          <ion-icon src="assets/svg/classrooma.svg" class="icono" slot="start"></ion-icon>
        </div>
      </ion-button>

    </ion-row>

    <ion-row class="filas">

      <ion-button color="chatroomb" expand="full" class="botonesPrincipales btnCosasLindas"
        (click)="openChat(this.chatRoomB)">
        <div>
          <ion-icon src="assets/svg/classroomb.svg" class="icono" slot="start"></ion-icon>
        </div>
      </ion-button>


    </ion-row>

  </ion-grid>

</ion-content>